/* hours.css */

p {
  color: #4b0082;
}

/* Styling for Tutoring Hours Table */
.tutoring-hours {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tutoring-hours thead {
  background-color: #000033; 
  color: white;
}

.tutoring-hours th,
.tutoring-hours td {
  padding: 10px;
  border: 1px solid #000033; 
  text-align: center;
}

.tutoring-hours tbody tr:nth-child(even) {
  background-color: #dddddd; 
}

.tutoring-hours tbody tr:nth-child(odd) {
  background-color: #e6e6fa; 
}

.tutoring-hours th {
  font-weight: bold;
}

.tutoring-hours td {
  color: #000000; /
}
